.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;

    a {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

        display: block;
        padding: 8px 12px;
        border: 1px #9a9a9a solid;
        border-radius: 4px;

        color: inherit;
        text-decoration: none;

        &:hover {
            background: #9a9a9a;

            color: #fff;
        }
    }
}