<div class="contact" data-ng-controller="ContactCtrl">
    <h1 class="heading--primary">Contact</h1>
    <p>If you wish to contact  me you can do that via any of the following:</p>

    <dl>
        <dt>Twitter:</dt>
        <dd><a href="http://twitter.com/skip405">@skip405</a></dd>
        <dt>Email:</dt>
        <dd><a href="mailto:thealexbondarev@gmail.com?subject=Howdy, Alex">thealexbondarev@gmail.com</a></dd>
        <dt>Skype:</dt>
        <dd><a href="skype:alex.skip405?chat">alex.skip405</a></dd>
        <dt>LinkedIn:</dt>
        <dd><a href="http://www.linkedin.com/in/alexbondarev/">http://www.linkedin.com/in/alexbondarev/</a></dd>
    </dl>
</div>